<h1>Edit Task</h1>

<% if @task.errors.any? %>
<h3>Oooops somehting went wrong:</h3>
<ul>
    <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<%= simple_form_for @task do |f| %>
    <%= f.input :content, :error => false %>
    <%= f.button :submit %>
<% end %>