<div class="jumbotron">
    <h1><img src="/favicon.png" hieght='50px' width='50px' style="margin-bottom: 13px;">Listed</h1>
    <p>Helping you stay organized and increase your productivity!</p>
    <p><%= link_to 'Sign Up',new_user_registration_path %> | <%= link_to 'Log In', new_user_session_path %></p>
</div>

