// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    margin-top: 70px;
    font-family: 'Arimo', sans-serif;
    color: black;
    letter-spacing: 0.5px;
    background: #f9e5cc !important;
}

h1,
h2 {
    font-weight: bold;
}

.navbar-default,
.jumbotron {
    background: lighten(#f9e5cc, 5%) !important;
    border: 1px solid #f9e5cc;
    a {
        color: black !important;
    }
    img {
        display: inline;
    }
    .navbar-toggle {
        border: 1px solid transparent !important;
        color: black;
        .icon-bar {
            background-color: black !important;
        }
    }
}

.jumbotron {
    margin-top: 50px;
}

.flash-message {
    font-style: italic;
    text-transform: capitalize;
}

.panel {
    border: none !important;
}

.panel-info,
.panel-footer {
    border: none !important;
}

.panel-heading {
    background: #ffa0c4 !important;
    span,
    p,
    a {
        color: white;
    }
}

.panel-body,
.panel-footer {
    background: lighten(#f9e5cc, 5%) !important;
}

.btn {
    background: #92b7db;
    border: 1px solid #92b7db;
    letter-spacing: 1px;
}

.btn:hover,
.btn:focus {
    background: darken(#92b7db, 10%);
    border: 1px solid darken(#92b7db, 10%);
}